<div class="col-md-12">
    <div class="col-md-4">
        <%= image_tag("feathers.jpg", class: "img-responsive rounded") %>
    </div>
    <div class="col-md-4">
        <%= image_tag("browns_mom.jpg", class: "img-responsive rounded") %>
    </div>
    <div class="col-md-4">
        <%= image_tag("scared_camping.jpg", class: "img-responsive rounded") %>
    </div>
<hr>
    <div class="col-md-8">
        <%= image_tag("family-collage.jpg", class: "img-responsive rounded") %>
    </div>
    
    <div class="col-md-4">
        <%= image_tag("bridge_halloween2.png", class: "img-responsive rounded") %>
    </div>
    
    <div class="col-md-4">
        <%= image_tag("camping.png", class: "img-responsive rounded") %>
    </div>
    <div class="col-md-6">
        <%= image_tag("dad_christmas.jpg", class: "img-responsive rounded") %>
    </div>
    <div class="col-md-6">
        <%= image_tag("little_dixie.jpg", class: "img-responsive rounded") %>
    </div>
    
</div>