<div class="row darkerbox shadow">
    <div class="col-md-7">
         <h1>Music <3</h1>
        <hr>
        <div class="col-md-6">
            <h2>Like My Mother Does <3</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <%= embed("https://www.youtube.com/watch?v=tztTfoqDiBg") %>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Fight Like A Girl</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <%= embed("https://www.youtube.com/watch?v=_BQZOFUX2-Q") %>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Read Me My Rights</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <%= embed("https://www.youtube.com/watch?v=_A-Z5YlgCgg") %>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Fight Song</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <%= embed("https://www.youtube.com/watch?v=xo1VInw-SKc") %>
            </div>
        </div>
        <div class="col-md-6">
            <h2>The Girl You Think I Am</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <%= embed("https://www.youtube.com/watch?v=-g4tovaGQVU") %>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Fly</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <%= embed("https://www.youtube.com/watch?v=KfDr_7LN-Ew") %>
            </div>
        </div>
        <div class="col-md-6">
            <h2>The Waitress Song</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <%= embed("https://youtu.be/Jbxsks0EvCc") %>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Shut Up & Fish!</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <%= embed("https://www.youtube.com/watch?v=-lH54eA4i8s") %>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h1>Quotes <3</h1>
            <hr>
        <%= image_tag("Janis-Joplin.jpg", class: "img-responsive rounded") %>
        <%= image_tag("life-quote-pursuit-happiness-dream.jpg", class: "img-responsive rounded") %>
        <h1>Inspiration <3</h1>
            <hr>
        <%= image_tag("badass.jpg", class: "img-responsive rounded") %>
        <%= image_tag("life-quote-pursuit-happiness-dream.jpg", class: "img-responsive rounded") %>
    </div>
</div>