<%= simple_form_for([:blog, @category, post]) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title %>
    <%= f.input :source_url %>
  </div>

  <div class="field">
    <%= f.input :body, input_html: {rows: 10, class: "form-control"} %>
  </div>

  <div class="field">
    <%= f.input :published_at %>
  </div>

  <div class="field">
    <%= f.input :state, collection: ["Draft", "Published"], include_blank: false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
