<p id="notice"><%= notice %></p>
<div class="col-md-12 well">
  <h1><%= @post.title %></h1>
  
 <div class="col-md-12 well lighter">
    <%= markdownify @post.body %>
    <% if @post.source_url.present? %>
    <%= link_to "Learn More...", @post.source_url, target: "_blank"  %>
    <% else %>
    <% end %>
 </div>
  
  <p>
    <strong>Published at:</strong>
    <%= @post.published_at %>
  </p>
  
  <p>
    <strong>State:</strong>
    <%= @post.state %>
  </p>
  
  <%= link_to 'Edit', edit_blog_post_path(@post) %> |
  <%= link_to 'Back', blog_posts_path %>
</div>